form{
    padding-left: 270px;
}

h1{
    padding-left: 690px;
}
.Employee{
    padding-left: 270px;
}

button, input[type=button]{
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 4px 7px;
	text-decoration: none;
	margin: 2px 1px;
	cursor: pointer;
}

#del
{
	background-color: red;
}
