<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<app-Header></app-Header>
<h1>Pointage Comptabilite</h1>
<form #f="ngForm">
  <label>Nom</label>
  <input type="text" name="Nom"  [(ngModel)]="selectedPointageCOM.Nom" />
  <br />
  <label>Prenom</label>
  <input type="text" name="Prenom" [(ngModel)]="selectedPointageCOM.Prenom" />
  <br />

  <label>Departement</label>
  <br>
  
  <select type="list" name="Departement" [(ngModel)]="selectedPointageCOM.Departement">
    <option value="" disabled default selected hidden>Choisissez votre Departement SVP</option>
    <option value="COM" name="COM">Departement Comptabilite</option>
  </select>
<br>

  <label>Poste</label>
  <input type="text" name="Poste" [(ngModel)]="selectedPointageCOM.Poste" />
  <br />
  <label>Date</label>
  <input type="date" name="Date" [(ngModel)]="selectedPointageCOM.Date" />
  <br />
  <label>Heure Entree</label>
  <input type="number" name="HeureEntree"  min="1" max="24" [(ngModel)]="selectedPointageCOM.HeureEntree" />
  <br />
  <label>Heure Sortie</label>
  <input type="number" min="1" max="24" name="HeureSortie" [(ngModel)]="selectedPointageCOM.HeureSortie" />
  <br />
 
  <br>
  <input
    type="button"
    (click)="createOrUpdatePointageCOM(f)"
    value="Ajouter Ou Mettre A jour"
  />
</form>
<br/>
<div>
  <br/>
  <i class="fas fa-file-excel fa-1x icon" (click)="exportexcel()" style="cursor: pointer" align="left"> Exporter Fichier Excel</i>
  <br/>
  <br>
  <table class="table table-striped table-bordered" id="PointageCOM">
    <tr>
      <th>Id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Departement</th>
      <th>Poste</th>
      <th>Date</th>
      <th>HeureEntree</th>
      <th>HeureSortie</th>
      <th>Option</th>
    </tr>
    <tr *ngFor="let pointage of pointages">
      <td>{{ pointage.id }}</td>
      <td>{{ pointage.Nom }}</td>
      <td>{{ pointage.Prenom }}</td>
      <td>{{ pointage.Departement }}</td>
      <td>{{ pointage.Poste }}</td>
      <td>{{ pointage.Date }}</td>
      <td>{{ pointage.HeureEntree }}</td>
      <td>{{ pointage.HeureSortie }}</td>
      <td>
        <button (click)="selectPointageCOM(pointage)">Editer</button>
        <button id="del" (click)="deletePointageCOM(pointage.id)">Supprimer</button>
      </td>
    </tr>
  </table>
</div>

