<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NaviTrends</title>
  
</head>
<body>
  <!-- navbar -->
  <nav class="navbar navbar-expand-lg navbar-light mt-3 fixed-top" id="navbar">
      <div class="container">
          <a class="navbar-brand" href="#">
              <img src="assets/nvtrends.png" height="60px">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
              <ul class="nav nav-pills">
                  <li class="nav-item">
                      <a class="nav-link active bg-active link-navbar tebel-sedang " href="#">Acceuil &nbsp;&nbsp;</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-navbar tebel-sedang" href="#">À propos &nbsp;&nbsp;</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-navbar tebel-sedang" href="#">Services &nbsp;&nbsp;</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link link-navbar tebel-sedang" href="#">Équipes &nbsp;&nbsp;</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link link-navbar tebel-sedang" href="">Portfolio &nbsp;&nbsp;</a>
                  </li>
                 
                  <li class="nav-item">
                  <a class="nav-link link-navbar tebel-sedang" href="#">Contact &nbsp;&nbsp;</a>
                  </li>
                  <li class="nav-item">
                      <a href="login" class="nav-link bg-custom rounded tebel-sedang shadow" id="btn-sign" (click)="ValidatePassword();">Se Connecter</a>
                  </li>
              </ul>


          </div>
      </div>
  </nav>

  <!-- content -->
  <div class="container">

      <br><br><br>

      <div class="row mt-5 mb-5">

          <div class="col-lg-12 gambar">
              <img src="assets/vector-content.png" width="100%">
          </div>

          <div class="col-sm-12 position-relative p-4">

              <div class="position-absolute top-0 end-0">
                  <img src="assets/vector-content.png" class="img">
              </div>

              <h1 class="display-1 text-truncate tebel-sedang">Agence Web</h1>
              <h1 class="display-1 text-truncate tebel-sedang">Tunisie</h1>

              <div class="desc mt-4">
                  <p><span><a>Navi</a>trends</span> est une entreprise de développement web implantée en Tunisie, innovante avec des talents au service d’un large éventail de clients, nationaux et internationaux.</p>
              </div>
              <div class="mt-5">
                  <a href="#" class="button rounded-pill shadow tebel-sedang">Voir Plus ...</a>
                  &nbsp;
                  <a href="DemandeConges" class="link">Demande Congé </a>
              </div>

              <br>

          </div>
      </div>
  </div>
 
</body>
</html>
